$color-primary: #eb2f64;
$color-primary-light: #ff3366;
$color-primary-dark: #ba265d;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #cccccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
$line: 1px solid $color-grey-light-2;

$color-primary: #F15E75;
$color-primary-light: #f37e90;
$color-secondary: #54C4D9;
$color-text: #3B4249;
$color-accent: #61CE70;
$color-white: #FFFFFF;
$color-white-bg: #f7f8f9;
$color-black: #000000;
$typography-primary-font-family: "Quicksand";
$typography-primary-font-weight: 700;
$typography-secondary-font-weight: 400;
$typography-text-font-family: "Quicksand";
$typography-text-font-weight: 400;
$typography-accent-font-family: "Roboto";
$typography-accent-font-weight: 500;


$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

// white background - color depth
$color-near-1: #235361;
$color-near-2: #1b277b;
$color-near-3: #912d53;
$color-far-1: #fe0000;
$color-far-2: #ffe337;
$color-far-3: #e6ff41;
